# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Hansk\Dropbox\HIOF\Software engineering\Gruppeoppgave\SoftwareEngineering_Antikvitetsplattform\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
